{%extends "base.html" %}
{% block content %}
<div class="add-1">

    <div class="heading">
       Search for a address for editing and deleting
    </div>
    <form action="" method="POST", enctype="multipart/form-data" >
        <div class="container">
            {{form.hidden_tag()}}
            <p>
                <label for="fname">First Name</label> <br />
                <input id="first_name" name="first_name"  type="text"/>
            </p>
            <p>
                {{form.submit(class="add-form")}}
            </p>
        </div>
    </form>

    </div>
{% if status == "found_for_edit" %}
<p> {{new_url}} </p>
<button><a href=/editing?{{new_url}}>edit</a></button><br />
<button><a href=/delete?{{new_url}}>delete</a></button>

{% endif %}
{% if status == "not found" %}
<p> not found </p>
{% endif %}
{%endblock%}