<!DOCTYPE html>
<div class="add-1">

    <div class="adding">
       Edit address
    </div>
    <form action="" method="POST", enctype="multipart/form-data" >
      <div class="add">
      {{form.hidden_tag()}}
      <P>
      {{form.first_name.label}}<br />
      <input id="first_name" name="first_name"  type="text"/>
      </P>
      <p>
        {{form.last_name.label}}<br />
        <input id="last_name"  name="last_name"  type="text"/>
      </p>
      <p>
        {{form.phone.label}}<br />
        <input id="phone" name="phone"type="text"/>
      </p>
      <p>
        {{form.email.label}}<br />
        <input id="email" name="email" type="text"/>
      </p>
      </div>
      <div class="add">
      <p>
        {{form.submit(class="add-form")}}
      </p>
        </div>
    </form>
    
   
{{captured_value}}
<p>
{{status}}
</p>
</html>