{%extends "base.html" %}
{% block content %}
<div class="add-1">

    <div class="heading">
       Search for a address
    </div>
    <form action="" method="POST", enctype="multipart/form-data" >
      <div class="container">
            {{form.hidden_tag()}}
            <p>
                <label for="fname">First Name</label> <br />
                <input id="first_name" name="first_name"  type="text"/>
            </p>
            <p>
                {{form.submit(class="add-form")}}
            </p>
        </div>
    </form>

    </div>
{% if status == "found" %}
<p> {{content}} </p>
{% endif %}
{% if status == "not found" %}
<p> Name not in the file </p>
{% endif %}
{%endblock%}